name: Lighthouse
on:
  push:
    branches: [main]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v11
        id: lighthouse
        with:
          urls: |
            https://pimjo-olive.vercel.app/
          uploadArtifacts: true
          temporaryPublicStorage: true

      - name: Format lighthouse score
        id: format_lighthouse_score
        uses: actions/github-script@v7
        with:
          script: |
            const results = ${{ steps.lighthouse.outputs.manifest }}
            const links = ${{ steps.lighthouse.outputs.links }}

            console.log('Lighthouse results:', results)
            console.log('Lighthouse links:', links)
