name: Lighthouse
on:
  push:
    branches: [main]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Lighthouse CI
        uses: foo-software/lighthouse-check-action@v12
        with:
          urls: 'https://pimjo-olive.vercel.app/'
          outputDirectory: './lhci'

      - name: Create Badges
        uses: emibcn/badges@v1
        with:
          label: 'Performance'
          message: ${{ steps.lighthouse.outputs.performance }}
          color: 'success'
          path: './badges/performance.svg'
